<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>    
    <add key="connectionString" value="Data Source=.;Initial Catalog=GastaSuela; User Id=sa;Password=123456;"/>
    <add key="RutaBackUp" value="c:\pepe\"/> 
  </appSettings>

  <!--Permisos de acceso a paginas por Rol -->
  <location path="usuarios.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="WebMaster" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="bitacora.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="WebMaster" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="backuprestore.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="WebMaster" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="admproductos.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="WebMaster" />
        <deny users="*" /> 
      </authorization>
    </system.web>
  </location>
  <location path="permisos.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="WebMaster" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="DigitoVerificador.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="WebMaster" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ViewCart.aspx">
    <system.web>
      <authorization>
        <allow roles="Administrador" />
        <allow roles="WebMaster" />
        <allow roles="Cliente" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>
  <system.web> 
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    
  </system.web>

</configuration>
